HTTP sampler corrupts filename with Chinese characters when upload file with http sampler

**Nick.Yin** ([Bug 61669](https://bz.apache.org/bugzilla//show_bug.cgi?id=61669&redirect=false)):
precondition：
use multipart/form-data for Post and Browser-compatible headers is chosen.

step:
1.add a HTTP sample to threadgroup
2.choose a file with Chinese character in file upload area in sampler
3. excute the test

excepted result：
the file whose file name is Chinese character is displayed in view result tree

actual:
the file name displays like ?????

by the way: it was working fine with Jmeter 3.1

Created attachment [filename1.PNG](https://apache.github.io/jmeter-bugzilla-attachments/69/61669/35463/filename1.PNG): filename with chinese charactor

<img src='https://apache.github.io/jmeter-bugzilla-attachments/69/61669/35463/filename1.PNG' alt='filename with chinese charactor'>

Severity: major
OS: All

Duplicates:
* https://github.com/apache/jmeter/issues/4699
* https://github.com/apache/jmeter/issues/5144
* https://github.com/apache/jmeter/issues/5529

The syntax is to send the filename twice: https://greenbytes.de/tech/webdav/rfc5987.html#examples

We probably need implementing it

> The syntax is to send the filename twice: https://greenbytes.de/tech/webdav/rfc5987.html#examples
> 
> We probably need implementing it

Can you be more precise? How to send the filename twice? How to do that using BeanShell PreProcessor instead of HTTP Request Files Upload?
Maybe a sample would help

Let me explain:
1) As seen in https://github.com/apache/jmeter/issues/4546#issuecomment-1256785384, JMeter uses `Content-Disposition` header
2) However, historically, `Content-Disposition` supported ASCII characters only, so RFC 6266 and RFC 5987 suggested a way out to pass unicode

So I would suggest following the examples in RFC 6226: https://datatracker.ietf.org/doc/html/rfc6266#section-5,

     Content-Disposition: attachment;
                          filename="EURO rates";
                          filename*=utf-8''%e2%82%ac%20rates

Then try adjusting JMeter code in https://github.com/apache/jmeter/blob/1e93c67a59673fe4d71a3a710c80bb485965b355/src/protocol/http/src/test/java/org/apache/jmeter/protocol/http/proxy/TestHttpRequestHdr.java#L614 so it generates the same code as in RFC 6226 example.

Do you think you could create such a pull request?

For reference, HttpClient 4.x does not support unicode filenames, and https://issues.apache.org/jira/browse/HTTPCLIENT-293 was integrated to 5.x only.

I've prepared a fix in https://github.com/apache/jmeter/pull/5987.
It would be great if someone could test it with their systems.